.App {
  text-align: center;
}
body{
  background-image: url("/src/img/nightBg.jpg");
}
.SidePanel{
  width: 520px;
  height: 840px;
  background: transparent linear-gradient(149deg, #70707066 0%, #3838382E 100%) 0% 0% no-repeat padding-box;
  box-shadow: 15px 15px 15px #00000029;
  border: 1px solid #70707040;
  border-radius: 30px;
  opacity: 1;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
